# {{ansible_managed}}

{% if openvpn_listen is defined %}
# Which local IP address should OpenVPN
# listen on? (optional)
local {{ openvpn_listen}}
{% endif %}

# Which TCP/UDP port should OpenVPN listen on?
# If you want to run multiple OpenVPN instances
# on the same machine, use a different port
# number for each one.  You will need to
# open up this port on your firewall.
port {{ openvpn_port }}

# TCP or UDP server?
proto {{ openvpn_proto|lower }}{% if openvpn_proto|lower == 'tcp' %}-server{% endif %}

# "dev tun" will create a routed IP tunnel,
dev tun0
topology subnet

# SSL/TLS root certificate (ca), certificate
# (cert), and private key (key).  Each client
# and the server must have their own cert and
# key file.  The server and all clients will
# use the same ca file.
ca   {{ openvpn_slave_prefix }}{{ openvpn_ca_cert }}
cert {{ openvpn_slave_prefix }}{{ openvpn_server_cert }}
key  {{ openvpn_slave_prefix }}{{ openvpn_server_key }}  # This file should be kept secret

# Use certificate revocation list
crl-verify {{ openvpn_slave_prefix }}{{ openvpn_ca_crl_list }}

# Diffie Hellman parameters.
dh {{ openvpn_keydir }}/dh{{ openvpn_key_size }}.pem


{% if openvpn_server_full_pool is defined and openvpn_server_full_pool != '' %}
# Configure server mode and supply a VPN subnet
server {{ openvpn_server_full_pool }}
# Maintain a record of client <-> virtual IP address
ifconfig-pool-persist ipp.txt
{% else %}
mode server
tls-server
push "topology subnet"
ifconfig {{ openvpn_ifconfig }}
push "route-gateway {{ openvpn_push_route_gateway }}"
ifconfig-pool {{ openvpn_ifconfig_pool }}
client-config-dir {{ openvpn_clientconfig_dir }}
{% endif %}



# Push routes to the client 
{% if openvpn_push_routes is defined and openvpn_push_routes.0 is defined%}
{% for route in openvpn_push_routes %}
push "route {{ route }}"
{% endfor %}
{% endif %}


# DNS servers 
{% if openvpn_push_ns is defined and openvpn_push_ns.0 is defined%}
{% for ip in openvpn_push_ns %}
push "dhcp-option DNS {{ ip }}"
{% endfor %}
{% endif %}
;push "dhcp-option DNS 208.67.220.220"

# push search domains
{% if openvpn_push_domains is defined and openvpn_push_domains.0 is defined%}
{% for domain in openvpn_push_domains %}
push "dhcp-option DOMAIN {{ domain }}"
{% endfor %}
{% endif %}
; push "dhcp-option DOMAIN your.domain"

# IF YOU HAVE NOT GENERATED INDIVIDUAL
# CERTIFICATE/KEY PAIRS FOR EACH CLIENT,
# EACH HAVING ITS OWN UNIQUE "COMMON NAME",
# UNCOMMENT THIS LINE OUT.
;duplicate-cn

# The keepalive directive causes ping-like
# messages to be sent back and forth over
# the link so that each side knows when
# the other side has gone down.
# Ping every 10 seconds, assume that remote
# peer is down if no ping received during
# a 120 second time period.
keepalive 10 120

# For extra security beyond that provided
# by SSL/TLS, create an "HMAC firewall"
# to help block DoS attacks and UDP port flooding.
#
# Generate with:
#   openvpn --genkey --secret ta.key
#
# The server and each client must have
# a copy of this key.
# The second parameter should be '0'
# on the server and '1' on the clients.
tls-auth {{ openvpn_slave_prefix }}{{ openvpn_tls_auth_key}} 0 # This file is secret

# Client certificate type
remote-cert-eku "TLS Web Client Authentication"

# Select a cryptographic cipher.
# This config item must be copied to
# the client config file as well.
;cipher BF-CBC        # Blowfish (default)
;cipher AES-128-CBC   # AES
;cipher DES-EDE3-CBC  # Triple-DES

# Enable compression on the VPN link.
# If you enable it here, you must also
# enable it in the client config file.
comp-lzo

# The maximum number of concurrently connected
# clients we want to allow.
;max-clients 100

# It's a good idea to reduce the OpenVPN
# daemon's privileges after initialization.
#
# You can uncomment this out on
# non-Windows systems.
user {{ openvpn_user }}
group {{ openvpn_group }}

# The persist options will try to avoid
# accessing certain resources on restart
# that may no longer be accessible because
# of the privilege downgrade.
persist-key
persist-tun

# Output a short status file showing
# current connections, truncated
# and rewritten every minute.
status openvpn-status.log

# By default, log messages will go to the syslog (or
# on Windows, if running as a service, they will go to
# the "\Program Files\OpenVPN\log" directory).
# Use log or log-append to override this default.
# "log" will truncate the log file on OpenVPN startup,
# while "log-append" will append to it.  Use one
# or the other (but not both).
log         {{ openvpn_logfile }}
;log-append  {{ openvpn_logfile }}

# Set the appropriate level of log
# file verbosity.
#
# 0 is silent, except for fatal errors
# 4 is reasonable for general usage
# 5 and 6 can help to debug connection problems
# 9 is extremely verbose
verb 3

# Silence repeating messages.  At most 20
# sequential messages of the same message
# category will be output to the log.
;mute 20